
<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>Express.js File Upload</title>
</head>
<body>

    <div>
        <h1>hello world</h1>
        <button onclick="location.href='./upload/'">移動</button>
    </div>
     
</body>
</html>
