
<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>Express.js File Upload</title>
</head>
<body>

    <div>
        <h1>hello world</h1>
        <button onclick="location.href='./upload/'">アップロード</button>
        <button onclick="location.href='./auth/login/'">ログイン</button>

        <hr>
        <h1>ユーザー一覧</h1>
        <% for (var user of users) { %>
            <div>
                <h4><%= user.id %></h4>
                <p> <%= user.introduction %> </p>
                <p> <%= user.hashedPassword%> </p>
                <p> <%= user.salt %> </p>
            </div>
        <% } %>
    </div>

    </div>
     
</body>
</html>
