<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>Express.js File Upload</title>
</head>
<body>

    <div>
        <h1>ログインページ</h1>
        <form action="/auth/login/" method="post">
            <section>
                <label for="id">id</label>
                <input id="id" name="id" type="text" required autofocus>
            </section>
            <section>
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button type="submit">Sign in</button>
        </form>
        <hr>
        <h1>Sign up</h1>
        <form action="/signup/" method="post">
            <section>
                <label for="id">id</label>
                <input id="id" name="id" type="text" required>
            </section>
            <section>
                <label for="new-password">Password</label>
                <input id="new-password" name="password" type="password" autocomplete="new-password" required>
            </section>
            <button type="submit">Sign up</button>
        </form>
        <hr>
        <button onclick="location.href='../'">トップ</button>
    </div>
     
</body>
</html>
